#title
{
    text-align: center;
}

#uros
{
    background-color: red;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

#gp
{
    background-color: orange;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

#oop
{
    background-color: yellow;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

#dbs
{
    background-color: green;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

#maths
{
    background-color: blue;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.button
{
    border: none;
    color: black;
    padding: 15px 32px;
    width: 100vw;
    position:relative;
    margin-left: -50vw;
    left:50%;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
}

#uros-color
{
    background-color: red;
}

#gp-color
{
    background-color: orange;
}

#oop-color
{
    background-color: yellow;
}

#dbs-color
{
    background-color: green;
}

#maths-color
{
    background-color: blue;
}
#languages p
{
    width:16%;
    text-align: center;
    display:inline-block;
}


#other p
{
    width:16%;
    text-align: center;
    display:inline-block;
}